:root{
    --blue: #496DDB;
    --lightBlue: #717EC3;
    --white: #E0E2DB;
    --grey: #35605A;
    --black: #00120B;
}
#header{
    z-index: 5;
    width: 100%;
    padding: 0%;
    position: fixed; 
    color: white;
    background-color: var(--black);
}
h1{
    font-size: 200%;
    animation: 1.3s ease-out 0s 1 slideInFromLeft; ;
}
nav {
    width: 100%;
    padding: 0px;
    color: white;
    background-color: var(--blue);
    border: 2px solid var(--black);  
    
    
}
.navList{
    width: 100%;
    padding: 0px;
}
.navListItem{
    height: 100%;
    color: var(--white);
    font-size: 100%;
    padding:0 5%;
    margin: 5px 30px 0;
    display: inline-block;
    transition: font-size 0.5s, text-shadow 0.5s;
    
    
    
}
.navListItem:visited{
    color: var(--white);
}
.active{
    text-decoration: none;
    text-shadow: 4px 4px 5px var(--white);
}
.navListItem:hover{
    /* border: 2px solid black; */
    font-size: 250%;
    text-shadow: 4px 4px 5px var(--white);
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
    
  }